<form class="form-horizontal">
    <div class="control-group">
        <button class="btn" id="SlicerSettingsParser_analyze" data-bind="click: analyzeAll">{{ _('Analyze all files') }}</button>
    </div>
    <div>
        <div>
            <small>
                <a href="#" class="muted" onclick="$(this).children().toggleClass('fa-caret-right fa-caret-down').parent().parent().parent().next().slideToggle('fast')">
                    <i class="fa fa-caret-down"></i> {{ _('Advanced') }}
                </a>
            </small>
        </div>
        <div class="show" style="display: block;">
            <div class="control-group">
                <label class="control-label">{{ _('Python regexes') }}</label>
                <div class="controls">
                    <textarea
                        type="text"
                        class="input-block-level"
                        data-bind="value: joinedRegexes"
                        style='font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace'
                    ></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
